:root {
    // COLORS
    --color-primary: #FF9A81;
    --color-primary-light: #FEE3DD;

    --color-secondary: #BED392;
    --color-secondary-light: #E6F0D6;

    --color-dark-1: #000000;

    --color-ligth-1: #F7F7F7;

    //FONT FAMILY
    --font-logo: 'Mr De Haviland', cursive;
    --font-primary: 'Playfair Display', serif;
    --font-display: 'Montserrat', sans-serif;

    // FONT SIZES
    --default-font-size: 14px;

    // GRID 
    --grid-columns: 80px;
    --grid-column-gap: 24px;
}