.container {
    display: grid;
    grid-template-columns: 1fr repeat(12, [col-start] minmax(auto, var(--grid-columns)) [col-end]) 1fr;
    grid-column-gap: var(--grid-column-gap);
    grid-auto-rows: min-content;

    @include respond (mobile) {
        display: block;
        padding: 0 16px;
    }
}