.home-main {
    margin-top: 183px;
    margin-bottom: 144px;

    @include respond (tablet) {
        margin-top: 130px; 
    }

    @include respond (mobile) {
        margin-top: 80px;
        margin-bottom: 40px;  
    }
}

.section-about {
    grid-column: col-start 1 / col-end 10;

    @include respond (tablet) {
        grid-column: col-start 1 / col-end 12;
    }

    &__visual-element {
        margin-top: 8px;

        @include respond (mobile) {
            margin-top: 39px;
        }

        img {
            @include respond (mobile) {
                width: 29.575%
            }
        }
    }
}